{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME STORY 7</title>
    <link rel="stylesheet" href="{%static 'app7/styles.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'app7/css/bootstrap.min.css'%}">
    <style>
        .wrapper {
            text-align: center;
        }
        
        .button {
            position: absolute;
            top: 50%;
        }
    </style>

</head>
<body>
    <backhome><a href="show.html"><button class="button2"><span>See Status </span></button></a></backhome>
    <messagetitle>Hello, how are you today?</messagetitle>
             

    <br><br><br><br><br><br><br><br><br><br><br>
            <form class="friend-form" method="POST">
                {% csrf_token %}
                <div class="form-group" style="text-align:center">
                    <label for="name">What is your name?</label>
                    {{ form.name }}
                </div>
                <div class="form-group" style="text-align:center">
                    <label for="FormControlTextarea1">How are you feeling?</label>
                    {{ form.status }}
                </div>
                <div class="wrapper">
                 <button type="submit" class="save btn btn-primary">Submit</button>
                 </div>
            </form>

                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body> 