{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STATUS STORY 7</title>
    <link rel="stylesheet" href="{%static 'app7/styles.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'app7/css/bootstrap.min.css'%}">
</head>
<body>
    <div>
        <messagetitle>See how the world is feeling today.</messagetitle>
    </div>
    <backhome><a href="index.html"><button class="button2"><span>Back Home </span></button></a></backhome>
    <table style="margin-left:auto;margin-right:auto;margin-top:20%;width:50%;">
        <tr>
            <th align="center">Name</th>
            <th align="center">Status</th>

        </tr>
        {% for friend in listname %}
        <tr>
            <td align="center">{{friend.name}}</td>
            <td align="center">{{friend.status}}</td>
        </tr>
        {% endfor %}
    </table>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>